Package: dbus-system-share
Version: 0.0-1
Section: devel
Priority: optional
Architecture: all
Depends: libqt5core5a (>= 5.3.0), libqt5dbus5 (>= 5.3.0)
Maintainer: Dmitriy Tsoy <dolphinbinary@gmail.com>
Description: Simple dbus system wide share app for Linux
